<div class="ui-FileElement <%=@class%>" data-field="<%=@name%>" data-extensions="<%=@extensions%>" data-maxlength="<%=@maxlength%>">
	<label><%=(defined? @label)?@label:'File'%></label>
	<div class="wrapper">
		<input type="file" class="hidden" />
		<p class="<%=@extension.sub(',',' ')%> fileName"><%if(@value):%><%=@value['filename']%><%else:%>No file uploaded yet&hellip;<%end%></p>
		<div class="status hidden">
		<img src="lattice-resources/images/bar.gif" class="progress" />
			<span class="message hidden"></span>
		</div>
		<div class="controls clearFix">
			<div class='uploadButton command'><a title="upload a file" class="uploadLink" href="#">&uarr;</a></div>
			<%if($value):%>
				<a title="download <%=@value['filename']%>"  class="command downloadLink" href="<%=url::site("file/download/{$value['id']}")%>">&darr;</a>
				<a title="clear this file" class="command clearImageLink" href="#">&times;</a>
			<%else:%>
				<a title="download" class="command downloadLink hidden" target="_blank" href="#">&darr;</a>
				<a title="clear this file" class="command clearImageLink hidden" href="#">&times;</a>
			<%end%>
		</div>
	</div>
</div>
