<div class="ui-FileElement " data-field="<%=@name%>" data-extensions="<%=@extensions%>" data-maxlength="<%=@maxlength%>">
  <label><%= defined? @label ?  @label : "Image File" %></label>
	<div class="wrapper">
		<input type="file" class="hidden" />

		<%if( defined? @value['id'] )%>
			<p class="fileName <%=@extensions.sub(',','')%>"><%=@value['filename']%></p>
		<%else%>
			<p class="fileName <%=@extension.sub(',','')%>">No image uploaded yet&hellip;</p>			
		<%end%>
		<div class="preview">
			<%if( defined? @value['id'])%>
				<img src="media/<%=@value['thumbSrc']%>" width="<%=@value['width']%>" height="<%=@value['height']%>" alt="<%=@value['filename']%>"/>
			<%end%>
		</div>
		<div class="status hidden">
		<img src="lattice-resources/images/bar.gif" class="progress" />
			<span class="message hidden"></span>
		</div>
		<div class="controls clearFix">
			<div class='uploadButton command'><a title="upload a file" class="uploadLink" href="#">&uarr;</a></div>
			<%if( defined? @value['id'])%>
				<a title="download <%=@value['filename']%>" class="command downloadLink" href="<%="file/download/#{@value['id']}"%>">&darr;</a>
				<a title="clear this file" class="command clearImageLink" href="#">&times;</a>
			<%else%>
				<a title="download" class="command downloadLink hidden" target="_blank" href="#">&darr;</a>
				<a title="clear this file" class="command clearImageLink hidden" href="#">&times;</a>
			<%end%>
		</div>
	</div>
</div>
