<div class="ui-Input <%=@class%>" data-field="<%=@name%>">
<%if( defined?  @label )%>
    <label><%=@label%></label><%end%>
	<input type="text" name="<%=@name%>" value="<%=@value%>" size="<%=@size%>" />
</div>
