<div class="ui-MultiSelect <%=@class%>" data-field="field-<%=@name%>" data-firstisnull="true">
	<label><%=@label%></label>
  <% @options.unshift @unsetLabel %>
  <select name="<%=@name%>" multiple="true" >
    <% @options.each() do |option,ovalue| %>
      <option value="<%=ovalue%>" selected="<%= (ovalue==@value)?'selected':''%>"><%=option%></option>
    <% end %>
  </select>
	
