<div class="ui-Pulldown <%=@class%>" data-field="<%=@name%>">
	<label class="groupLabel"><%=@label%></label>
  <% @options.unshift @unsetLabel %>
  <select name="<%=@name%>">
    <% @options.each() do |option,ovalue| %>
      <option value="<%=ovalue%>" selected="<%= (ovalue==@value)?'selected':''%>"><%=option%></option>
    <% end %>
  </select>
</div>
