<div data-field="<%=@name%>" <%if( defined? @isMultiline )%>data-isMultiline="<%=@isMultiline%>"<%end%> class="ui-Text <%=@class%>">
	<%if(defined? @label):%>
		<label><%=@label%></label>
	<%end%>
  <input class="og <%=@tag%>" type="password" value="<%=@value!=nil ? @value : '' %>" />
</div>
