<div class="ui-RadioGroup <%=@class%>" data-field="<%=@name%>">
	<%if( defined? $label)%>
		<label class="groupLabel"><%=@label%></label>
	<%end%>
	<fieldset>
	<% $radios.each do |radioLabel,radioValue|%>
    <label for="<%=@radioname%>_<%=radioValue%>">
      <input type="radio" value=<%=radioValue%> selected=<%= (value==radioValue)?'selected':''%> id=<%=$radioname.'_'.$radioValue %> >
      <%=radioLabel%>
    </label>
	<%end%>
	</fieldset>
</div>
